.vscode/
.idea/
Env/
src/main/python/__pycache__
src/main/python/serveur/__pycache__
src/resources/.env
src/main/python/serveur/audio.wav
src/main/python/serveur/pdf
src/main/python/serveur/qrcode
src/main/python/serveur/fonts/arial*
src/resources/.env