.vscode/
.idea/

Env/

src/resources/.env

src/main/python/__pycache__
src/main/python/serveur/__pycache__
src/main/python/serveur/temp/*
src/resources/pdf/*.pdf
src/resources/qrcode/*.png
src/resources/fonts/arial*

src/main/python/robot/__pycache__
src/main/python/robot/temp/*