.vscode/
.idea/

Env/

src/resources/.env

src/main/python/__pycache__
src/main/python/serveur/__pycache__
src/main/python/serveur/audio.wav
src/main/python/serveur/pdf
src/main/python/serveur/qrcode
src/main/python/serveur/fonts/arial*

src/main/python/robot/__pycache__
src/main/python/robot/*.wav
src/main/python/robot/*.jpg